* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("BG.jpg");
    margin: 0px;
    padding: 0px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color:#95031b;
    justify-content: space-between;
    overflow: auto;
    padding-bottom: 10px;
}

.DArah{
    float: left;
}

.logo a {
    padding-top: 18px;
    padding-left: 20px;
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family:  'New Rocker', cursive;
    color:#bebe0a;
}

.menu{
    position: relative;
    display: inline-block;
    margin: 0 160px;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: #a55454;
    z-index: 1;
    border-bottom:1px solid #ffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.kolom .deskripsi {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
}

.kolom .deskripsi p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #364f6b;
}

.kolom .deskripsi img {
    width: 160px;
    height: 130px;
    border-radius: 5%;
}

h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.kontak {
    background: #95031b;
    width: 100%;
    padding: 50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color : #364f6b;
    width: 100%;
    line-height: 50px;
}

.tekan {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.tekan:hover {
    background: #fc5185;
    text-decoration: none;
}
p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.container1{
    opacity: 85%;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    margin-top: 5%;
    padding: 1px;
    border-radius: 10px;
    background-color: #000;
}

form{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 20px;
}

input{
    font-family: vogue;
    display: flex;
    width: 250px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

button{
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    font-family: vogue;
}

button:hover{
    color:#856a0d;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

h1{
    padding-top: 120px;
    text-align: center;
    color:#000;
}

#respon{
    color: #bebe0a;
}

#reptil{
    font-size: 50px;
    color:#bebe0a;
}

h2{
    font-size:20px;
}

#lirik{
    color: #ff032d;
}

#forsale{
    font-size: 50px;
    color:#bebe0a;
    font-family: "new rocker";
}

#best{
    font-size: 40px;
    color:#ff032d;
    font-family: 'Franklin Gothic Medium';
}
#Special{
    font-size: 40px;
    color: #ff032d;
    font-family: 'Franklin Gothic Medium';
}

h3{
    color: #bebe0a;
}

#sabi{
    font-family: 'New Rocker', cursive;
    color: #856a0d;
}

td{
    color:#856a0d;
}
th{
    color:#856a0d;
}

#cekharga{
    font-family: "new rocker";
    color: #856a0d;
}

#order{
    font-family: "new rocker";
    color: #856a0d;
}